.container {
  padding: 30px;
  max-width: 1000px;
  margin: auto;
}
h2 {
  margin-bottom: 30px;
  text-align: center;
}
table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 8px;
  overflow: hidden;
}
 
table thead {
  background-color: #ff3c00;
  color: white;
}
table th, table td {
  padding: 12px 15px;
  text-align: left;
}
table tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}